img {width: 5%;}
body {background-color: lightblue}
h1 {color:DodgerBlue; text-align: center;text-shadow: 2px 2px 5px white;}
.s3 {font-family: 'Open Sans', sans-serif;}
.s1 {font-family: Trattatello, fantasy, serif;}
.s2 {text-decoration: underline}
.s4 {color: rgba(255, 255, 255, 0.815); text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
.s5 { text-align: center;}
.s6 {font-family: serif; font-size: large;}